<% if current_user %>
  <h1>Hi, <%= current_user.name %></h1>
  <h2>email: <%= current_user.email %></h2>
<% else %>
  <p>Want to keep track of the tea you've tried? Sign up for the full experience! </p>
<% end %>

<h2>Find your cup of tea </h2>


