<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>"/>Tea Leaves</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/types">Browse</a></li>
        <li><a href="/search">Search by Tea</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render 'layouts/signed-in' %>
        <% else %>
          <%= render 'layouts/not-signed-in' %>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!-- /.container -->
</nav>
