<li><%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %></li>
<li><%= link_to "Destroy Account", destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" } %></li>

